*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #581258;
    color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 16%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 20px;
}

.time-imagem{
    width: 45%;
}

.Time{
    background-image: linear-gradient(#581258,#a51717);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.Time-div-conteudo{
    width: 35%;
}
.Time-titulo{
    padding: 9%;
}
.Time-texto-tres{
    padding: 9%;
}

.Personagens-imagem{
    width: 120px;
}

.Personagens-icone{
    width: 24px;
}

.Personagens-div{
    text-align: center;
}

.Personagens-titulo{
    text-align: center;
    padding: 35px 0;
}

.Personagens-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #a51717;
    text-align: center;
}

.rodape-imagem{
    height: 35px;
    padding: 12px 0;
    
}
