body {
    background-color: #AB7DE5;
    color:  #AB7DE5;
    }

    .cabecalho {
        background-color: #AB7DE5;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }
        *{
            margin: 0;
            padding: 0;
        }

        .escola-imagem{
            width: 25%;
        }
        .escola{
            background-image: linear-gradient(#AB7DE5,#d1abff);
            color:rgb(0, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px 0;
        }
